---
# - block:
#     - set_fact:
#         javavglvfs: |
#           {% if (javaop0 == 'Batch') and (javaop1 == 'Control-M') %}
#           VGAPPS,LVJAVA_CTM,/java_ctrlm,5
#           {% elif (javaop0 == 'Base_de_datos') and (javaop1 == 'Oracle') %}
#           VGAPPS,LVJAVA_ORA,/java_oracle,5
#           {% elif (javaop0 == 'Base_de_datos') and (javaop1 == 'Db2') %}
#           VGAPPS,LVJAVA_DB2,/java_db2,5
#           {% elif (javaop0 == 'Midlware') and (javaop1 == 'Jboss') %}
#           VGAPPS,LVJAVA_MDW,/java_mdw,5
#           {% else %}
#           "No selecciono ninguna opcion Java"
#           {% endif %}

# - block:
#     - debug:
#         msg: "{{javavglvfs|trim|replace('\n','')}}"

#     - set_fact:
#         vgnm: "{{javavglvfs.split(',')[0]}}"
#         lvnm: "{{javavglvfs.split(',')[1]}}"
#         mpnm: "{{javavglvfs.split(',')[2]}}"
#         mpsz: "{{javavglvfs.split(',')[3]}}"

    - name: Validar {{javavglvfs.split(',')[1]|trim}}
      become: true
      shell: lvs {{devnull}} --units g | tr -s ' ' , | cut -d, -f2 | grep {{lvnm}}
      register: rstloplv
      failed_when: rstloplv.rc not in [0, 1]

    - set_fact:
        lvconf: "{{rstloplv.stdout|default('no_lv_faund')|trim}}"

    - set_fact:
        run_playbook: |
          {% if (lvconf == 'LVJAVA_CTM') %}
          ['instalar/chklv']
          {% else %}
          ['llamar/api_crear_lv.yml']
          {% endif %}

    - name: Se encontrol {{javavglvfs.split(',')[1]|trim}} se ejecuta la tarea {{run_playbook}}
      include_tasks: "{{ tareas1 }}.yml"
      loop: "{{ run_playbook }}"
      loop_control:
        loop_var: tareas2