---
# - block:
#     - set_fact:
#         javavglvfs: |
#           {% if (javaop0 == 'Batch') and (javaop1 == 'Control-M') %}
#           VGAPPS,LVJAVA_CTM,/java_ctrlm,5
#           {% elif (javaop0 == 'Base_de_datos') and (javaop1 == 'Oracle') %}
#           VGAPPS,LVJAVA_ORA,/java_oracle,5
#           {% elif (javaop0 == 'Base_de_datos') and (javaop1 == 'Db2') %}
#           VGAPPS,LVJAVA_DB2,/java_db2,5
#           {% elif (javaop0 == 'Midlware') and (javaop1 == 'Jboss') %}
#           VGAPPS,LVJAVA_MDW,/java_mdw,5
#           {% else %}
#           "No selecciono ninguna opcion Java"
#           {% endif %}

# - block:
#     - debug:
#         msg: "{{javavglvfs|trim|replace('\n','')}}"

#     - set_fact:
#         vgnm: "{{javavglvfs.split(',')[0]}}"
#         lvnm: "{{javavglvfs.split(',')[1]}}"
#         mpnm: "{{javavglvfs.split(',')[2]}}"
#         mpsz: "{{javavglvfs.split(',')[3]}}"

- block:
    - name: Validar si existe {{javavglvfs.split(',')[1]|trim}}
      become: true
      shell: df {{devnull}} -k | grep {{javavglvfs.split(',')[0]}} | grep {{javavglvfs.split(',')[2]}} | tr -s ' ' , | cut -d, -f6
      register: rstlopfs
      failed_when: rstlopfs.rc not in [0, 1]

    - set_fact:
        fsconf: "{{rstlopfs.stdout|default('no_fs_found')|trim}}"

    - set_fact:
        run_playbook: |
          {% if (fsconf == '/java_ctrlm') %}
          ['instalar/java']
          {% else %}
          ['gestionar/crearfs']
          {% endif %}

    - name: Se encontrol {{javavglvfs.split(',')[1]|trim}} se ejecuta la tarea {{run_playbook}}
      include_tasks: "{{ tareas2 }}.yml"
      loop: "{{ run_playbook }}"
      loop_control:
        loop_var: tareas2