---
- name: Tareas por bloques - Validacion formato CRQ o ICR
  block:
    - set_fact:
        idhelix: "{{ idcrqinc | trim }}"
      run_once: true
      delegate_to: localhost

    - name: Validando Formato de Cambio o Incidente
      assert:
        that:
          - idhelix | string | regex_search('(CRQ|INC|REQ)[0-9]{12}')
        fail_msg: "El CRQ, INC o REQ no cumplen con la condiciones del formato"
        success_msg: "El CRQ, INC o REQ cumplen con las condiciones del formato"
      run_once: true
      delegate_to: localhost

- block:
    - set_fact:
        javavglvfs: |
          {% if (javaop0 == 'Batch') and (javaop1 == 'Control-M') %}
          VGAPPS,LVJAVA_CTM,/java_ctrlm,5
          {% elif (javaop0 == 'Base_de_datos') and (javaop1 == 'Oracle') %}
          VGAPPS,LVJAVA_ORA,/java_oracle,5
          {% elif (javaop0 == 'Base_de_datos') and (javaop1 == 'Db2') %}
          VGAPPS,LVJAVA_DB2,/java_db2,5
          {% elif (javaop0 == 'Midlware') and (javaop1 == 'Jboss') %}
          VGAPPS,LVJAVA_MDW,/java_mdw,5
          {% else %}
          "No selecciono ninguna opcion Java"
          {% endif %}

- block:
    - debug:
        msg: "{{javavglvfs|trim|replace('\n','')}}"

    - set_fact:
        vgnm: "{{javavglvfs.split(',')[0]|trim}|default('no_vgs_faund')}"
        lvnm: "{{javavglvfs.split(',')[1]|trim}|default('no_lv_found')}"
        mpnm: "{{javavglvfs.split(',')[2]|trim}|default('no_fs_found')}"
        mpsz: "{{javavglvfs.split(',')[3]|trim}|default('0')}"

    - name: Validar {{javavglvfs.split(',')[0]|trim}}
      become: true
      shell: vgs {{devnull}} --units g | tr -s ' ' , | cut -d, -f2 | grep {{vgnm}}
      register: rstlopvg
      failed_when: rstlopvg.rc not in [0, 1]

    - name: Validar {{javavglvfs.split(',')[0]|trim}}
      become: true
      shell: vgs {{devnull}} --units g | tr -s ' ' , | cut -d, -f2 | grep {{vgnm}}
      register: rstlop
      failed_when: rstlop.rc not in [0, 1]