---
- name: Validacion formato CRQ o ICR
  block:
    - set_fact:
        idhelix: "{{ idcrqinc | trim }}"
      run_once: true
      delegate_to: localhost
    
    - name: Validando Formato de Cambio o Incidente
      assert:
        that:
          - idhelix | string | regex_search('(CRQ|INC|REQ)[0-9]{12}')
        fail_msg: "El CRQ, INC o REQ no cumplen con la condiciones del formato"
        success_msg: "El CRQ, INC o REQ cumplen con las condiciones del formato"
      run_once: true
      delegate_to: localhost

- block:
    - set_fact:
        javavglvfs: |
          {% if (javaop0 == 'Batch') and (javaop1 == 'Control-M') %}
          {{ctrlm|trim}}
          {% elif (javaop0 == 'Base_de_datos') and (javaop1 == 'Oracle') %}
          {{oracle|trim}}
          {% elif (javaop0 == 'Base_de_datos') and (javaop1 == 'Db2') %}
          {{db2|trim}}
          {% elif (javaop0 == 'Midlware') and (javaop1 == 'Jboss') %}
          {{mdw|trim}}
          {% else %}
          "No selecciono ninguna opcion Java"
          {% endif %}

    - set_fact:
        vgnm: "{{javavglvfs.split(',')[0]|trim}}"
        lvnm: "{{javavglvfs.split(',')[1]|trim}}"
        lvsz: "{{javavglvfs.split(',')[2]|trim|int}}"
        mpnm: "{{javavglvfs.split(',')[3]|trim}}"

- block:
    - shell: df -T | grep {{vgnm}} | tr -s ' ' , | cut -d, -f2 | egrep "^xfs|^ext[0-9]" | sort | uniq
      register: rstlopfst
      become: true
      failed_when: rstlopfst.rc not in [0, 1]

    - set_fact:
        fstp: "{{rstlopfst.stdout|default('xfs')}}"

    - set_fact:
        run_playbook: |
          {% if tarea == 'Instalar_java' %}
          ['validar/chkvg']
          {% elif tarea == 'Actualizar_java' %}
          ['validar/chkjvr']
          {% elif tarea == 'Borrara_java' %}
          ['borrara/rmjvr']
          {% else %}
          ['No_selecciono_ninguna_tarea']
          {% endif %}
    
    - name: Resultado de la seleccion
      become: true
      assert:
        that:
          - "'No_selecciono_ninguna_tarea' not in run_playbook"
        fail_msg: "run_playbook"
        success_msg: "Ha seleccionado: {{ run_playbook | replace('\n', '') }}"
      run_once: true
      delegate_to: localhost
    
    - name: Inicia tareas {{ run_playbook }}
      include_tasks: "{{ tareas }}.yml"
      loop: "{{ run_playbook }}"
      loop_control:
        loop_var: tareas
